<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>CSV</title>
  </head>

  <body>
        <div class="container">
            <form action="/upload_json" method="post" id="myForm">
                <input type="text" name="value"/>
                <input type="submit" value="Submit"/>
            </form>
        </div>
    </body>
</html>